.membership {
    position: absolute;
    width: 303px;
    height: 122px;
    left: 35px;
    top: 30px;

    font-family: 'Campton';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;

    color: #63EA76;
}


.login_logo {
    position: absolute;
    width: 132px;
    height: 127px;
    left: 35px;
    top: 170px;

}

.logo1 {

    position: absolute;
    left: 271px;
    top: 265px;
}

.logo3 {

    position: absolute;
    left: 312px;
    top: 265px;
}

.email_box {
    position: absolute;
    left: 33px;
    top: 330px;
    width: 325px;

    font-family: 'Sandoll GothicNeo2';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;


    color: #000000;
}

.email {
    padding-left: 8px;

}

hr {
    margin: 15px 0;
}

button {
    width: 325px;
    height: 57px;

    margin-top: 5px;
    background: #61DF72;
    border-radius: 8px;
    font-family: 'Sandoll GothicNeo2';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    border: 1px solid white;

    letter-spacing: 0.12em;

    color: #FFFFFF;
}