@font-face {
    font-family: Campton;
    src: url('../static/fonts/Campton-BoldDEMO.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: Sandol;
    src: url('../static/fonts/AppleSDGothicNeoM.ttf');
}

.container {}

.logo {
    position: absolute;
    width: 160px;
    height: 143px;
    left: -1px;
    top: 40px;
}

.title_ranking {
    position: absolute;
    width: 193px;
    height: 61px;
    left: 42px;
    top: 229px;

    font-family: 'Campton';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 61px;

    color: #63EA76;
}

.title_sinchon {
    position: absolute;
    width: 244px;
    height: 82px;
    left: 142px;
    top: 269px;

    font-family: 'Campton';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 82px;
    /* identical to box height */


    color: rgba(99, 234, 118, 0.5);
}

.ranking_box {
    position: absolute;
    font-family: Campton;
    left: 25px;



    top: 360px;
}

ol {
    font-family: 'Sandol';
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 25px;
    /* identical to box height */
    margin-left: -20px;

    letter-spacing: 0.07em;
    width: 260px;
    color: #000000;
}

li {
    margin-top: 25px;
    display: flex;
    flex-direction: row;

}

.color_img1 {
    width: 25px;
    margin-right: 15px;
    margin-top: -12px;
}

.color_img2 {
    width: 37px;
    margin-left: 35px;
    margin-right: 10px;
    margin-top: -10px;
}

.color_img3 {
    width: 25px;
    margin-left: 70px;
    margin-right: 10px;
    margin-top: -10px;
}

.color_img4 {
    width: 50px;
    margin-left: 105px;
    margin-right: 10px;
    margin-top: -10px;
}

.NavBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 110px;
    border-top: 4px solid #61df72;
    width: 100%;
}


.univ_box {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 336px;
    height: 642px;
    left: 27px;
    top: 55px;
    color: #003876;
    background: white;
    border-radius: 35px;


}

.percentage {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 20px;

}

.univ_title {

    width: 295px;
    height: 122px;
    margin-left: 20px;
    margin-top: -30px;
    text-align: center;
    font-family: 'Campton';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 61px;


}

.univ_img {
    width: 250px;
    margin: 25px;
}