<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <body>
    {% if user.is_authenticated %}
      로그인 돼있어
      <p>
        {% if user.comments %}
          {{ user.comments }}
        {% else %}
          소개글을 입력해주세요!
        {% endif %}
      </p>
      <p>
        {% if user.photo %}
          <img src="{{ user.photo.url }}" alt="" width='60px;' height='60px;'></p>
      {% else %}
        <p>사진 없어잉</p>
      {% endif %}
      <p>{{ user.nickname }}</p>
      <p>{{ user.level }}</p>
      <p>
        {% if user.cleanTrashNumber <= 5 %}
          새싹
        {% elif user.cleanTrashNumber <= 10 %}
          가지
        {% elif user.cleanTrashNumber <= 15 %}
          나무
        {% else %}
          열매
        {% endif %}
      </p>
      <p>{{ user.university }}</p>
      <a href=""></a>
      <a href="{% url 'logout' %}" class="">로그아웃</a>
    {% else %}
      로그인 안돼있어
      <a href="{% url 'login' %}" class="">로그인</a>
    {% endif %}
  </body>

</html>
