<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <body>
    <form action="{% url 'register' %}" method='POST' enctype="multipart/form-data">
      {% csrf_token %}
      <input type="text" placeholder='아이디' name='username'><br>
      <input type="password" placeholder='비밀번호' name='password'><br>
      <input type="password" placeholder='재입력' name='again'><br>
      <input type="text" placeholder='example@email.com' name='email'><br>
      <input type="text" placeholder='닉네임' name='nickname'><br>
      <input type="file" name="photo"><br>
      <select name="university">
        <option value="sogang">서강대학교</option>
        <option value="ihwa">이화여자대학교</option>
        <option value="yonsei">연세대학교</option>
        <option value="hongik">홍익대학교</option>
      </select><br>
      <input type="submit">
    </form>
  </body>

</html>