<!DOCTYPE html>
<html lang="en">
{% load static %}

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'css/quest.css' %}">
    </head>

    <body>
        <div class="quest">
            <p class="title"> Quest</p>
            <span class="onethree">13</span>
            <span class="onefour">14</span>
            <div class="quest_box">
                <img src="{% static 'questbox.png' %}" alt="no-image">
            </div>
            <div class="clear">
                <p>처음으로 쓰레기 수거 인증하기</p>
                <p>2일 연속으로 쓰레기 수거 인증하기</p>
                <p>하루에 3번 각기 다른 쓰레기통으로 쓰레기 수거
                    인증하기</p>
                <p>하루에 6번 각기 다른 쓰레기통으로 쓰레기 수거 인증하기</p>
                <p>3일 연속으로 쓰레기 수거 인증하기</p>
                <p>3일 연속으로
                    쓰레기 수거 인증하기</p>
            </div>

        </div>
        <div class="NavBar">
            <img src="{% static 'mapB.svg' %}" />
            <img src="{% static 'graphL.svg' %}" />
            <img src="{% static 'questL.svg' %}" />
            <div id="profile">
            </div>
    </body>

</html>